<nav class="navbar navbar-expand-lg navbar-dark signature-color fixed-top" id="mainNav">
  <a class="navbar-brand" href="{{ url_for('studentIndexView') }}">  
       <img width="150px" src="{{ url_for('static', filename='images/slogo3.png') }}">
  </a>
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('studentIndexView') }}">
            <span class="nav-link-text lead nav-link-custom">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="{{ url_for('viewGradesView') }}">
          <span class="nav-link-text lead nav-link-custom">View Grades</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link lead" data-toggle="modal" data-target="#exampleModal">
          <i class="fa fa-fw fa-sign-out"></i>Logout</a>
      </li>
    </ul>
  </div>
</nav>
